@media (max-width: 991px) {
    header{
        padding: 10px 20px;
    }

    header nav{
        position: absolute;
        top: 70px;
        left: 0;
        background:skyblue;
        width: 100%;
        transform: translateY(0px);
        transition: .7s;
    }

    .navbar{
        display: none;
        transition: .7s;
        transform: translateY(20px);
    }

    header nav ul li{
        width: 100%;
    }

    header nav ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    header nav ul li ul li ul{
        left: 0;
    }
    .menuToggle{
        background: none;
        border: none;
        cursor: pointer;
        display: block;
    }

    .menuToggle span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        line-height: 20px;
        margin: 6px 0;
    }
    
}